@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
}

/* Стили для header */
.header {
  margin-bottom: 53px;
}

/* Стили для блока info блока header */
.info {
  background-color: #F3F7F9;
}

.info__container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 14px 0;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  row-gap: 15px;
  flex-wrap: wrap;
}

.info__title {
  margin: 0;
  margin-right: 15px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #EE3643;
}

.info__address {
  margin: 0;
  margin-left: auto;
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
}

.info__telefone {
  margin-left: 58px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #293449;
  position: relative;
}

.info__telefone::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-phone.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -24px;
}

.info__telefone:hover {
  opacity: 0.7;
}

.info__telefone:active {
  opacity: 0.5;
}

.info__telefone:focus {
  outline: 2px solid #000000;
}

/* Стили для блока search блока header */
.search {
  background-color: #293449;
}

.search__container {
  max-width: 1177px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.icon-link {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 3px;
}

.icon-link:focus {
  outline: 2px solid #000000;
}

.search__input {
  width: 717px;
  margin-left: 223px;
  padding-top: 8px;
  padding-left: 53px;
  padding-bottom: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: #293449;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: top 11px left 20px;
}

.search__input::placeholder {
  color: #FFFFFF;
}

.search__input:active {
  background-color: #F1F5F7;
  background-image: url(../images/icon-search-focus.svg);
}

.search__input:active::placeholder {
  color: #C5C5C5;
}

.search__input:focus {
  background-color: #F1F5F7;
  background-image: url(../images/icon-search-focus.svg);
}

.search__input:focus::placeholder {
  color: #C5C5C5;
}

.search__button {
  padding-left: 25px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F1F5F7;
  border: none;
  background-color: #293449;
  cursor: pointer;
  position: relative;
}

.search__button::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 14px;
  left: 0;
}

.search__button:hover {
  opacity: 0.7;
}

.search__button:active {
  opacity: 0.5;
}

.search__button:focus {
  outline: 2px solid #000000;
}

/* Стили для блока navigation блока header */
.navigation__container {
  background-color: #3D546F;
}

.navigation {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Стили для навигации по сайту */
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation__link {
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  text-decoration: none;
  color: #FFFFFF;
}

.navigation__link:hover {
  background-color: #32425C;
  color: #C5C5C5;
}

.navigation__link:active {
  background-color: #32425C;
}

.navigation__link:focus {
  background-color: #32425C;
}

/* Стили для пользовательской навигации */
.user-navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.user-navigation__button_favorite, .user-navigation__button_basket {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.user-navigation__button_favorite:hover, .user-navigation__button_basket:hover {
  opacity: 0.7;
}

.user-navigation__button_favorite:active, .user-navigation__button_basket:active {
  opacity: 0.5;
}

.user-navigation__button_favorite:focus, .user-navigation__button_basket:focus {
  outline: 2px solid #000000;
}

.user-navigation__button_favorite {
  width: 16px;
  height: 18px;
  background-image: url(../images/icon-favorite.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-navigation__button_basket {
  width: 18px;
  height: 18px;
  background-image: url(../images/icon-basket.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-navigation__button_checkout {
  padding: 12px 12px;
  margin-right: 7px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #63A63E;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-navigation__button_checkout:hover {
  background-color: #5FBB2D;
}

.user-navigation__button_checkout:active {
  background-color: #518534;
}

.user-navigation__button_checkout:focus {
  background-color: #518534;
}

/* Стили для блока с навигацией по товарам */
.products-navigation__list {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 180px);
  column-gap: 30px;
  row-gap: 28px;
  list-style-type: none;
}

.products-navigation__item {
  padding: 20px 37px 33px 25px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.products-navigation__item_materials, .products-navigation__item_delivery {
  background-color: #FFBF47;
  position: relative;
}

.products-navigation__item_materials::before {
  content: '';
  width: 90px;
  height: 90px;
  background-image: url(../images/icon-materials.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 36px;
}

.products-navigation__item_delivery::before {
  content: '';
  width: 90px;
  height: 90px;
  background-image: url(../images/icon-delivery.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 36px;
}

.products-navigation__item_tools {
  background-color: #3BBCE3;
  position: relative;
}

.products-navigation__item_tools::before {
  content: '';
  width: 90px;
  height: 90px;
  background-image: url(../images/icon-tools.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 36px;
}

.products-navigation__item_equipment {
  background-color: #DC91D8;
  position: relative;
}

.products-navigation__item_equipment::before {
  content: '';
  width: 90px;
  height: 90px;
  background-image: url(../images/icon-equipment.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 36px;
}

.products-navigation__item_discounts {
  background-color: #8ED78F;
  position: relative;
}

.products-navigation__item_discounts::before {
  content: '';
  width: 90px;
  height: 90px;
  background-image: url(../images/icon-discounts.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 36px;
}

.products-navigation__item-title {
  margin: 0;
  max-width: 200px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products-navigation__item-button {
  width: 180px;
  padding-left: 33px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  position: relative;
}

.products-navigation__item-button:hover {
  opacity: 0.7;
}

.products-navigation__item-button:active {
  opacity: 0.5;
}

.products-navigation__item-button:focus {
  outline: 2px solid #000000;
}

.products-navigation__item-button::before {
  content: '';
  width: 8px;
  height: 13px;
  background-image: url(../images/icon-stroke.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 12px;
  left: 16px;
}

/* Стили для слайдера */
.slider {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.slider__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  padding-left: 52px;
  padding-bottom: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.slider__item_perforators {
  background-image: url(../images/slider-perforators.jpg);
  background-size: cover;
}

.slider__item_drills {
  background-image: url(../images/slider-drills.jpg);
  background-size: cover;
}

.slider__item_hidden {
  display: none;
}

.slider__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider__text {
  margin: 0;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.slider__scroll-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(41, 52, 73, 0.6);
  background-image: url(../images/icon-stroke.svg);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider__scroll-button:hover {
  opacity: 0.7;
}

.slider__scroll-button:active {
  opacity: 0.5;
}

.slider__scroll-button:focus {
  outline: 2px solid #000000;
}

.slider__scroll-button_left {
  position: absolute;
  top: 172px;
  left: 20px;
  transform: rotate(180deg);
}

.slider__scroll-button_right {
  position: absolute;
  top: 172px;
  right: 17px;
}

.slider__button {
  padding: 12px 23px 15px 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  background-color: #EE3643;
  border-radius: 2px;
}

.slider__button:hover {
  background-color: #CA2C37;
}

.slider__button:active {
  background-color: #BA2732;
}

.slider__button:focus {
  background-color: #BA2732;
}

.slider__pagination-container {
  position: absolute;
  bottom: 21px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.slider__button-dot {
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #FFD180;
  cursor: pointer;
}

.slider__button_active {
  background-color: #FFFFFF;
}

.slider__button-dot:hover {
  opacity: 0.7;
}

.slider__button-dot:active {
  opacity: 0.5;
}

.slider__button-dot:focus {
  outline: 2px solid #000000;
}

/* Стили для блока services */
.services {
  padding: 52px 0;
  background-image: url(../images/services-background.png);
  color: #293449;
}

.services__title {
  max-width: 556px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}

.services__text {
  max-width: 556px;
  margin: 0 auto;
  margin-bottom: 65px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.services__list {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.services__item {
  width: 370px;
  padding: 167px 44px 43px 25px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative;
}

.services__item-title {
  max-width: 300px;
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__item-text {
  max-width: 300px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.services__item_dilivery::after {
  content: '';
  width: 86px;
  height: 63px;
  background-image: url(../images/icon-delivery-red.png);
  position: absolute;
  top: 43px;
  left: 27px;
}

.services__item_guarantee::after {
  content: '';
  width: 85px;
  height: 78px;
  background-image: url(../images/icon-discounts-red.png);
  position: absolute;
  top: 36px;
  left: 27px;
}

.services__item_credit::after {
  content: '';
  width: 78px;
  height: 78px;
  background-image: url(../images/icon-materials-red.png);
  position: absolute;
  top: 36px;
  left: 31px;
}
